html {
  font-family: sans-serif;
}

/* Your CSS below here */

div {
  width: 200px;
  height: 200px;
  vertical-align: middle;
  align-items: center;
  align-content: center;
  font-size: 1.1rem;
  <!--used https://nekocalc.com/px-to-rem-converter to convert-->
  background-color(blue);
  contrast-color(var(--backgroundColor));
  text-shadow: 1px 1px 1px black;
  border-radius: 3px;
  border: 1px solid royalblue;
  
}